<div class="h-screen w-full absolute overflow-hidden">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 1440 320"
		class="absolute z-3 md:-bottom-4 bottom-0 fill-accent-dark dark:fill-accent transition-colors duration-300"
	>
		<path
			fill-opacity="1"
			d="M0,96L34.3,117.3C68.6,139,137,181,206,186.7C274.3,192,343,160,411,144C480,128,549,128,617,160C685.7,192,754,256,823,245.3C891.4,235,960,149,1029,144C1097.1,139,1166,213,1234,224C1302.9,235,1371,181,1406,154.7L1440,128L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
		></path>
	</svg>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 1440 320"
		class="absolute z-2 md:bottom-5 bottom-3 fill-accent dark:fill-accent-dark transition-colors duration-300"
	>
		<path
			fill-opacity="1"
			d="M0,32L34.3,64C68.6,96,137,160,206,176C274.3,192,343,160,411,160C480,160,549,192,617,170.7C685.7,149,754,75,823,74.7C891.4,75,960,149,1029,170.7C1097.1,192,1166,160,1234,133.3C1302.9,107,1371,85,1406,74.7L1440,64L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
		></path>
	</svg>
</div>
<div
	class="absolute h-full w-full bg-radial to-primary dark:to-primary-dark z-1"
></div>
<div
	class="absolute inset-0 h-full w-full bg-primary dark:bg-primary-dark bg-[radial-gradient(#bfbfbf_1px,transparent_1px)] dark:bg-[radial-gradient(#072e16_1px,transparent_1px)] [background-size:16px_16px] z-0"
></div>
<div
	class="relative text-contrast dark:text-contrast-dark min-h-screen items-center justify-center flex flex-col z-4"
>
	<div class="col-centered w-10/12 md:w-8/12 lg:w-6/12 m-auto">
		<div class="md:w-8/12 flex flex-col items-center justify-center m-auto">
			<h2
				class="text-2xl sm:text-4xl md:text-6xl col-span-2 transition duration-300 ease-in-out text-center font-[bangers]"
				appViewport
			>
				<span>Hey, I'm </span>
				<span class="text-accent dark:text-accent-dark"
					>Lachlan Robinson</span
				>
			</h2>
			<p
				class="text-xl md:text-2xl text-center text-neutral-500 dark:text-neutral-300 mt-6"
			>
				I'm a junior front-end web developer based in Melbourne. I have
				a passion for creating well designed and user-friendly web apps.
			</p>
		</div>
		<div
			class="w-10/12 grid grid-cols-1 md:grid-cols-3 gap-5 mt-5 p-4 m-auto"
		>
			<a
				href="https://github.com/lachlan-robinson"
				target="_blank"
				class="font-bold p-2 bg-primary dark:bg-primary-dark border-2 border-contrast dark:border-contrast-dark hover:border-accent dark:hover:border-accent-dark hover:cursor-pointer hover:scale-105 flex flex-row items-center shadow-lg slide-up transition duration-300 ease-in-out"
				appViewport
			>
				<img
					src="github-logo.svg"
					class="w-2/12 mr-2 not-dark:invert"
				/>
				Github
			</a>
			<a
				href="https://www.linkedin.com/in/lachlanrobinson/"
				target="_blank"
				class="font-bold p-2 bg-primary dark:bg-primary-dark border-2 border-contrast dark:border-contrast-dark hover:border-accent dark:hover:border-accent-dark hover:cursor-pointer hover:scale-105 flex flex-row items-center shadow-lg slide-up transition duration-300 ease-in-out"
				appViewport
			>
				<img
					src="linkedin-logo.svg"
					class="w-2/12 mr-2 not-dark:invert"
				/>
				LinkedIn
			</a>
			<a
				href="https://www.instagram.com/lachlanrobinson_/"
				target="_blank"
				class="font-bold p-2 bg-primary dark:bg-primary-dark border-2 border-contrast dark:border-contrast-dark hover:border-accent dark:hover:border-accent-dark hover:cursor-pointer hover:scale-105 flex flex-row items-center shadow-lg slide-up transition duration-300 ease-in-out"
				appViewport
			>
				<img src="insta-logo.svg" class="w-2/12 mr-2 not-dark:invert" />
				Instagram
			</a>
		</div>
	</div>
	<div
		class="flex flex-col items-center mb-15 transition duration-300 ease-in-out"
		[class.opacity-0]="!isAtTop"
	>
		<p class="mb-2 font-bold">See More</p>
		<img src="downarrow.svg" class="w-10 not-dark:invert" />
	</div>
</div>
