<div
	class="absolute h-full w-full bg-radial to-primary dark:to-primary-dark z-1"
></div>
<div
	class="absolute inset-0 h-full w-full bg-primary dark:bg-primary-dark bg-[radial-gradient(#bfbfbf_1px,transparent_1px)] dark:bg-[radial-gradient(#475569_1px,transparent_1px)] [background-size:16px_16px] z-0"
></div>
<div
	class="relative text-contrast dark:text-contrast-dark min-h-screen items-center justify-center flex flex-col z-2"
>
	<div class="col-centered w-10/12 md:w-8/12 lg:w-6/12 m-auto">
		<div>
			<h2
				class="text-3xl font-bold col-span-2 transition duration-300 ease-in-out"
				appViewport
			>
				👋🏻 Hey, I'm
				<span class="text-accent">Lachlan Robinson</span>. I'm a junior
				front-end web developer based in Melbourne. I have a passion for
				creating well designed and user-friendly web apps.
			</h2>
		</div>
		<div
			class="w-10/12 grid grid-cols-1 md:grid-cols-3 gap-5 mt-5 p-4 m-auto"
		>
			<a
				href="https://github.com/lachlan-robinson"
				target="_blank"
				class="font-bold p-2 bg-secondary dark:bg-secondary-dark rounded-xl border-2 border-secondary dark:border-secondary-dark hover:border-accent hover:cursor-pointer hover:scale-105 flex flex-row items-center shadow-lg slide-up transition duration-300 ease-in-out"
				appViewport
			>
				<img
					src="github-logo.svg"
					class="w-2/12 mr-2 not-dark:invert"
				/>
				Github
			</a>
			<a
				href="https://www.linkedin.com/in/lachlanrobinson/"
				target="_blank"
				class="font-bold p-2 bg-secondary dark:bg-secondary-dark rounded-xl border-2 border-secondary dark:border-secondary-dark hover:border-accent hover:cursor-pointer hover:scale-105 flex flex-row items-center shadow-lg slide-up transition duration-300 ease-in-out"
				appViewport
			>
				<img
					src="linkedin-logo.svg"
					class="w-2/12 mr-2 not-dark:invert"
				/>
				LinkedIn
			</a>
			<a
				href="https://www.instagram.com/lachlanrobinson_/"
				target="_blank"
				class="font-bold p-2 bg-secondary dark:bg-secondary-dark rounded-xl border-2 border-secondary dark:border-secondary-dark hover:border-accent hover:cursor-pointer hover:scale-105 flex flex-row items-center shadow-lg slide-up transition duration-300 ease-in-out"
				appViewport
			>
				<img src="insta-logo.svg" class="w-2/12 mr-2 not-dark:invert" />
				Instagram
			</a>
		</div>
	</div>
	<div
		class="flex flex-col items-center mb-15 transition duration-300 ease-in-out"
		[class.opacity-0]="!isAtTop"
	>
		<p class="mb-2 font-bold">See More</p>
		<img src="downarrow.svg" class="w-10 not-dark:invert" />
	</div>
</div>
