<div class="py-5 bg-primary dark:bg-primary-dark">
	<div class="col-centered w-10/12 md:w-8/12 lg:w-6/12 m-auto">
		<div class="flex flex-col items-center">
			<p class="text-sm text-contrast dark:text-contrast-dark">
				Copyright 2025
			</p>
			<h2 class="font-bold text-lg text-contrast dark:text-contrast-dark">
				Lachlan Robinson
			</h2>
			<button
				class="font-bold p-2 bg-primary dark:bg-primary-dark border-2 dark:text-contrast-dark border-contrast dark:border-contrast-dark hover:border-accent dark:hover:border-accent-dark hover:cursor-pointer hover:scale-105 flex items-center shadow-lg slide-up transition duration-300 ease-in-out md:top-2 md:right-2 md:absolute z-10 justify-center"
				(click)="handleClick()"
			>
				<span *ngIf="!darkmode" class="material-icons mr-2">
					light_mode
				</span>
				<span *ngIf="!darkmode"> Light </span>
				<span *ngIf="darkmode" class="material-icons mr-2">
					dark_mode
				</span>
				<span *ngIf="darkmode"> Dark </span>
			</button>
		</div>
	</div>
</div>
