<div
	class="relative text-contrast dark:text-contrast-dark min-h-screen pb-20 bg-accent-dark dark:bg-accent overflow-hidden"
>
	<div class="relative col-centered w-10/12 m-auto z-5">
		<div class="relative flex flex-col items-center justify-center py-30">
			<h1
				class="text-6xl md:text-6xl lg:text-8xl fade px-10 py-4 flex font-[bangers] text-contrast-dark dark:text-contrast hover:scale-105 transition cursor-pointer"
				appViewport
			>
				Projects
			</h1>
			<div
				class="absolute bg-contrast dark:bg-contrast-dark rotate-3 h-30 md:h-40 w-[150%] -z-2"
			></div>
			<div
				class="absolute bg-accent dark:bg-accent-dark -rotate-3 h-30 md:h-40 w-[150%] -z-3"
			></div>
		</div>
		<div
			id="projects-container"
			class="columns-1 lg:columns-2 gap-6 justify-center"
		>
			<div
				*ngFor="let project of projects"
				class="bg-primary dark:bg-primary-dark shadow-lg border-contrast dark:border-contrast-dark border-2 transition duration-300 hover:cursor-pointer hover:border-accent dark:hover:border-accent-dark slide-up overflow-hidden flex flex-col justify-between mb-6"
				appViewport
			>
				<!-- Card Header -->
				<div
					class="bg-contrast text-primary dark:bg-contrast-dark dark:text-primary-dark p-4 flex flex-row justify-between items-center gap-2"
				>
					<h1 class="text-4xl font-[bangers]">
						{{ project.title }}
					</h1>
					<a
						[href]="project.githubLink"
						*ngIf="project.githubLink"
						target="_blank"
						class="font-bold p-2 bg-primary-dark text-contrast-dark dark:bg-primary dark:text-contrast border-2 border-primary dark:border-primary-dark hover:border-accent dark:hover:border-accent-dark hover:cursor-pointer hover:scale-105 flex flex-row items-center shadow-lg slide-up transition duration-300 ease-in-out"
						appViewport
					>
						<span class="material-icons mr-1"> open_in_new </span>
						Repo
					</a>
				</div>
				<!-- Card Description -->
				<div
					class="bg-primary dark:bg-primary-dark px-4 my-2 grid gap-2"
				>
					<h1 class="text-xl font-semibold">Description</h1>
					<p>
						{{ project.description }}
					</p>
				</div>
				<div class="flex justify-center">
					<img
						*ngIf="project.imgSrc"
						[src]="project.imgSrc"
						alt="{{ project.title }}"
						class="max-w-10/12 p-4"
					/>
				</div>

				<hr class="text-contrast dark:text-contrast-dark border-1" />
				<!-- Card Features -->
				<div
					class="bg-primary dark:bg-primary-dark px-4 grid gap-2 my-2"
				>
					<h1 class="text-xl font-semibold">Features</h1>
					<li
						*ngFor="let feature of project.features"
						class="list-disk"
					>
						{{ feature }}
					</li>
				</div>
				<!-- Card Technologies -->
				<hr class="text-contrast dark:text-contrast-dark border-1" />
				<div
					class="bg-primary dark:bg-primary-dark py-2 my-2 mx-4 overflow-hidden border-x-3 border-x-contrast dark:border-x-contrast-dark rounded-lg"
				>
					<div class="scroll-container flex flex-row gap-2">
						<div
							*ngFor="
								let technology of project.technologies
									.concat(project.technologies)
									.concat(project.technologies)
									.concat(project.technologies)
									.concat(project.technologies)
							"
							class="border-secondary dark:border-secondary-dark bg-secondary dark:bg-secondary-dark border-2 rounded-lg items-center p-2 hover:border-accent dark:hover:border-accent-dark transition duration-300 hover:scale-102 flex flex-row gap-2 text-nowrap"
						>
							<ng-container
								*ngIf="getTechnology(technology) as tech"
							>
								<div
									class="w-6 h-6 flex items-center justify-center"
								>
									<img
										[src]="tech.logo"
										alt="{{ tech.name }}"
										class="inline-block not-dark:invert"
									/>
								</div>

								<p>{{ tech.name }}</p>
							</ng-container>
						</div>
					</div>
					<!-- Tech Tag -->
				</div>
			</div>
		</div>
	</div>
</div>
