<div class="relative text-contrast min-h-screen pb-10">
	<div
		class="absolute inset-0 h-full w-full bg-primary bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px] z-0"
	></div>
	<div class="absolute h-full w-full bg-radial to-primary z-1"></div>
	<div class="relative col-centered w-10/12 m-auto z-5">
		<div class="flex flex-col items-center min-h-screen justify-center">
			<h1 class="text-5xl font-bold mt-5 fade" appViewport>Projects</h1>
			<hr class="border-3 text-accent w-2/12 mt-1 fade" appViewport />
		</div>
		<div
			id="projects-container"
			class="grid grid-cols-1 xl:grid-cols-2 gap-6"
		>
			<div
				class="p-4 bg-primary rounded-lg shadow-lg my-20 border-secondary border-2 transition duration-300 hover:cursor-pointer flex flex-col items-center hover:border-accent slide-up"
				appViewport
			>
				<div class="p-4">
					<div class="w-full">
						<h1 class="text-3xl font-bold">Weather App</h1>
						<hr class="text-accent border-1" />
					</div>

					<p class="mt-1">
						This is a simple yet effective weather application built
						using Angular, TypeScript, and Bootstrap. The app allows
						users to search for weather conditions in any city using
						the OpenWeatherMap API. It provides real-time weather
						updates, including temperature, humidity, wind speed,
						and a short description of the current weather.
					</p>
					<h1 class="text-xl font-bold mt-2">Features</h1>
					<hr class="text-accent border-1" />
					<ul class="mt-1 list-disc list-inside">
						<li>
							Users can enter a city name in the search bar to
							retrieve weather data.
						</li>
						<li>
							Fetches and displays current temperature, weather
							conditions, humidity, and wind speed.
						</li>
						<li>
							Uses icons from OpenWeatherMap to visually represent
							weather conditions.
						</li>
						<li>
							Uses the OpenWeatherMap API to fetch live weather
							data.
						</li>
					</ul>
				</div>
				<div class="p-4">
					<img src="project-img/dark.jpg" class="rounded-xl" />
				</div>
				<div class="w-full p-4">
					<h1 class="text-xl font-bold">Built With</h1>
					<hr class="text-accent border-1" />
				</div>
				<div class="grid grid-cols-3 md:grid-cols-4 gap-2">
					<div
						class="flex flex-row items-center justify-center bg-secondary p-3 mr-3 rounded-full border-2 border-secondary hover:border-accent hover:cursor-pointer transition duration-300 hover:scale-102"
					>
						<img src="html-logo.svg" class="w-5 mr-1" />
						<p class="font-bold">HTML</p>
					</div>
					<div
						class="flex flex-row items-center justify-center bg-secondary p-3 mr-3 rounded-full border-2 border-secondary hover:border-accent hover:cursor-pointer transition duration-300 hover:scale-102"
					>
						<img src="bootstrap-logo.svg" class="w-5 mr-1" />
						<p class="font-bold">Bootstrap</p>
					</div>
					<div
						class="flex flex-row items-center justify-center bg-secondary p-3 mr-3 rounded-full border-2 border-secondary hover:border-accent hover:cursor-pointer transition duration-300 hover:scale-102"
					>
						<img src="typescript-logo.svg" class="w-5 mr-1" />
						<p class="font-bold">Typescript</p>
					</div>
					<div
						class="flex flex-row items-center justify-center bg-secondary p-3 mr-3 rounded-full border-2 border-secondary hover:border-accent hover:cursor-pointer transition duration-300 hover:scale-102"
					>
						<img src="angular-logo.svg" class="w-5 mr-1" />
						<p class="font-bold">Angular</p>
					</div>
				</div>
			</div>

			<div
				class="p-4 bg-primary rounded-lg shadow-lg my-20 border-secondary border-2 transition duration-300 hover:cursor-pointer flex flex-col items-center hover:border-accent slide-up"
				appViewport
			>
				<div class="p-4">
					<div class="w-full">
						<h1 class="text-3xl font-bold">Personal Portfolio</h1>
						<hr class="text-accent border-1" />
					</div>

					<p class="mt-1">
						My personal portfolio to demonstrate my design and
						development capabilities.
					</p>
					<h1 class="text-xl font-bold mt-2">Features</h1>
					<hr class="text-accent border-1" />
					<ul class="mt-1 list-disc list-inside">
						<li>Tailwind CSS for styling and design.</li>
						<li>
							Responsive Design for mobile and larger screens.
						</li>
						<li>Animation on scroll using directive.</li>
					</ul>
				</div>
				<div class="p-4">
					<img src="project-img/portfolio.jpg" class="rounded-xl" />
				</div>
				<div class="w-full p-4">
					<h1 class="text-xl font-bold">Built With</h1>
					<hr class="text-accent border-1" />
				</div>
				<div class="grid grid-cols-3 md:grid-cols-4 gap-2">
					<div
						class="flex flex-row items-center justify-center bg-secondary p-3 mr-3 rounded-full border-2 border-secondary hover:border-accent hover:cursor-pointer transition duration-300 hover:scale-102"
					>
						<img src="html-logo.svg" class="w-5 mr-1" />
						<p class="font-bold">HTML</p>
					</div>
					<div
						class="flex flex-row items-center justify-center bg-secondary p-3 mr-3 rounded-full border-2 border-secondary hover:border-accent hover:cursor-pointer transition duration-300 hover:scale-102"
					>
						<img src="css-logo.svg" class="w-5 mr-1" />
						<p class="font-bold">CSS</p>
					</div>
					<div
						class="flex flex-row items-center justify-center bg-secondary p-3 mr-3 rounded-full border-2 border-secondary hover:border-accent hover:cursor-pointer transition duration-300 hover:scale-102"
					>
						<img src="tailwind-logo.svg" class="w-5 mr-1" />
						<p class="font-bold">Tailwind</p>
					</div>
					<div
						class="flex flex-row items-center justify-center bg-secondary p-3 mr-3 rounded-full border-2 border-secondary hover:border-accent hover:cursor-pointer transition duration-300 hover:scale-102"
					>
						<img src="typescript-logo.svg" class="w-5 mr-1" />
						<p class="font-bold">Typescript</p>
					</div>
					<div
						class="flex flex-row items-center justify-center bg-secondary p-3 mr-3 rounded-full border-2 border-secondary hover:border-accent hover:cursor-pointer transition duration-300 hover:scale-102"
					>
						<img src="angular-logo.svg" class="w-5 mr-1" />
						<p class="font-bold">Angular</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
