<div class="relative text-white min-h-screen pb-10">
	<div
		class="absolute inset-0 h-full w-full bg-gray-900 bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px] z-0"
	></div>
	<div class="absolute h-full w-full bg-radial to-gray-900 z-1"></div>
	<div class="relative col-centered w-10/12 md:w-8/12 lg:w-6/12 m-auto z-5">
		<div class="flex flex-col items-center">
			<h1 class="text-5xl font-bold mt-5">Projects</h1>
			<hr class="border-3 text-purple-500 w-3/12 mt-1" />
		</div>
		<!--
		<div class="text-center mt-5">
			<div
				class="bg-gray-800 rounded-full w-30 h-30 m-auto items-center justify-center flex flex-col border-2 border-gray-800 hover:border-purple-500 hover:cursor-pointer transition duration-300 hover:scale-105"
			>
				<img src="ghost.svg" class="w-15" />
			</div>

			<h1 class="text-xl font-bold mt-2">Wow, Such Empty...</h1>
		</div>
		-->
		<div
			class="p-4 bg-gray-800 rounded-lg shadow-lg mt-5 border-gray-800 border-2 transition duration-300 hover:cursor-pointer flex flex-col items-center hover:border-purple-500"
		>
			<div class="p-4">
				<div class="w-full">
					<h1 class="text-3xl font-bold">Weather App</h1>
					<hr class="text-purple-500 border-1" />
				</div>

				<p class="mt-1">
					This is a simple yet effective weather application built
					using Angular, TypeScript, and Bootstrap. The app allows
					users to search for weather conditions in any city using the
					OpenWeatherMap API. It provides real-time weather updates,
					including temperature, humidity, wind speed, and a short
					description of the current weather.
				</p>
				<h1 class="text-xl font-bold mt-2">Features</h1>
				<hr class="text-purple-500 border-1" />
				<ul class="mt-1 list-disc list-inside">
					<li>
						Users can enter a city name in the search bar to
						retrieve weather data.
					</li>
					<li>
						Fetches and displays current temperature, weather
						conditions, humidity, and wind speed.
					</li>
					<li>
						Uses icons from OpenWeatherMap to visually represent
						weather conditions.
					</li>
					<li>
						Uses the OpenWeatherMap API to fetch live weather data.
					</li>
				</ul>
			</div>
			<div class="p-4">
				<img src="project-img/dark.jpg" class="rounded-xl" />
			</div>
			<div class="w-full p-4">
				<h1 class="text-xl font-bold">Built With</h1>
				<hr class="text-purple-500 border-1" />
			</div>
			<div class="grid grid-cols-3 md:grid-cols-4 gap-2">
				<div
					class="flex flex-row items-center justify-center bg-gray-900 p-3 mr-3 rounded-full border-2 border-gray-800 hover:border-purple-500 hover:cursor-pointer transition duration-300 hover:scale-102"
				>
					<img src="html-logo.svg" class="w-5 mr-1" />
					<p class="font-bold">HTML</p>
				</div>
				<div
					class="flex flex-row items-center justify-center bg-gray-900 p-3 mr-3 rounded-full border-2 border-gray-800 hover:border-purple-500 hover:cursor-pointer transition duration-300 hover:scale-105"
				>
					<img src="bootstrap-logo.svg" class="w-5 mr-1" />
					<p class="font-bold">Bootstrap</p>
				</div>
				<div
					class="flex flex-row items-center justify-center bg-gray-900 p-3 mr-3 rounded-full border-2 border-gray-800 hover:border-purple-500 hover:cursor-pointer transition duration-300 hover:scale-105"
				>
					<img src="typescript-logo.svg" class="w-5 mr-1" />
					<p class="font-bold">Typescript</p>
				</div>
				<div
					class="flex flex-row items-center justify-center bg-gray-900 p-3 mr-3 rounded-full border-2 border-gray-800 hover:border-purple-500 hover:cursor-pointer transition duration-300 hover:scale-105"
				>
					<img src="angular-logo.svg" class="w-5 mr-1" />
					<p class="font-bold">Angular</p>
				</div>
			</div>
		</div>
	</div>
</div>
