<div class="text-white mt-5 mb-5 min-h-screen">
	<div class="col-centered w-10/12 md:w-8/12 lg:w-6/12 m-auto">
		<div class="flex flex-col items-center">
			<h1 class="text-5xl font-bold">Skills</h1>
			<hr class="border-3 text-purple-500 w-3/12 mt-1" />
		</div>
		<!-- Front-End -->
		<h1 class="text-3xl font-bold">Front-End</h1>
		<hr class="border-1 text-purple-500" />
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-4">
			<div
				class="bg-gray-800 p-4 rounded-lg transform transition duration-300 border-2 border-gray-800 hover:scale-105 hover:border-2 hover:border-purple-500 hover:cursor-pointer flex flex-col text-center items-center"
			>
				<img
					src="/html-logo.svg"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1"
				/>
				<h2 class="text-xl font-bold">HTML</h2>
				<p class="text-gray-400">Markup</p>
			</div>
			<div
				class="bg-gray-800 p-4 rounded-lg transform transition duration-300 border-2 border-gray-800 hover:scale-105 hover:border-2 hover:border-purple-500 hover:cursor-pointer flex flex-col text-center items-center"
			>
				<img
					src="/css-logo.svg"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1"
				/>
				<h2 class="text-xl font-bold">CSS</h2>
				<p class="text-gray-400">Styling</p>
			</div>
			<div
				class="bg-gray-800 p-4 rounded-lg transform transition duration-300 border-2 border-gray-800 hover:scale-105 hover:border-2 hover:border-purple-500 hover:cursor-pointer flex flex-col text-center items-center"
			>
				<img
					src="/tailwind-logo.svg"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1"
				/>
				<h2 class="text-xl font-bold">Tailwind</h2>
				<p class="text-gray-400">CSS Framework</p>
			</div>
			<div
				class="bg-gray-800 p-4 rounded-lg transform transition duration-300 border-2 border-gray-800 hover:scale-105 hover:border-2 hover:border-purple-500 hover:cursor-pointer flex flex-col text-center items-center"
			>
				<img
					src="/bootstrap-logo.svg"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1"
				/>
				<h2 class="text-xl font-bold">Bootstrap</h2>
				<p class="text-gray-400">CSS Framework</p>
			</div>
			<div
				class="bg-gray-800 p-4 rounded-lg transform transition duration-300 border-2 border-gray-800 hover:scale-105 hover:border-2 hover:border-purple-500 hover:cursor-pointer flex flex-col text-center items-center"
			>
				<img
					src="/js-logo.svg"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1"
				/>
				<h2 class="text-xl font-bold">JavaScript</h2>
				<p class="text-gray-400">Programming Language</p>
			</div>
			<div
				class="bg-gray-800 p-4 rounded-lg transform transition duration-300 border-2 border-gray-800 hover:scale-105 hover:border-2 hover:border-purple-500 hover:cursor-pointer flex flex-col text-center items-center"
			>
				<img
					src="/typescript-logo.svg"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1"
				/>
				<h2 class="text-xl font-bold">TypeScript</h2>
				<p class="text-gray-400">Type-Safe JavaScript</p>
			</div>
			<div
				class="bg-gray-800 p-4 rounded-lg transform transition duration-300 border-2 border-gray-800 hover:scale-105 hover:border-2 hover:border-purple-500 hover:cursor-pointer flex flex-col text-center items-center"
			>
				<img
					src="/angular-logo.svg"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1"
				/>
				<h2 class="text-xl font-bold">Angular</h2>
				<p class="text-gray-400">Front-End Framework</p>
			</div>
		</div>

		<!-- Back-End -->
		<h1 class="text-3xl font-bold mt-4">Back-End</h1>
		<hr class="border-1 text-purple-500" />
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-4">
			<div
				class="bg-gray-800 p-4 rounded-lg transform transition duration-300 border-2 border-gray-800 hover:scale-105 hover:border-2 hover:border-purple-500 hover:cursor-pointer flex flex-col text-center items-center"
			>
				<img
					src="/node-logo.svg"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1"
				/>
				<h2 class="text-xl font-bold">Node.js</h2>
				<p class="text-gray-400">JavaScript Runtime Environment</p>
			</div>
		</div>

		<!-- Tools -->
		<h1 class="text-3xl font-bold mt-4">Tools</h1>
		<hr class="border-1 text-purple-500" />
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-4">
			<div
				class="bg-gray-800 p-4 rounded-lg transform transition duration-300 border-2 border-gray-800 hover:scale-105 hover:border-2 hover:border-purple-500 hover:cursor-pointer flex flex-col text-center items-center"
			>
				<img
					src="/git-logo.svg"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1"
				/>
				<h2 class="text-xl font-bold">Git</h2>
				<p class="text-gray-400">Version Control</p>
			</div>
		</div>
	</div>
</div>
