<div class="h-screen w-full absolute overflow-hidden">
	<div
		class="absolute h-75 w-full bg-accent-dark dark:bg-accent top-0 -z-2"
	></div>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 1440 320"
		class="absolute -z-2 top-75 fill-accent-dark dark:fill-accent transition-colors duration-300"
	>
		<path
			fill-opacity="1"
			d="M0,64L34.3,101.3C68.6,139,137,213,206,224C274.3,235,343,181,411,165.3C480,149,549,171,617,149.3C685.7,128,754,64,823,64C891.4,64,960,128,1029,149.3C1097.1,171,1166,149,1234,133.3C1302.9,117,1371,107,1406,101.3L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
		></path>
	</svg>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 1440 320"
		class="absolute -z-3 top-76 fill-accent dark:fill-accent-dark transition-colors duration-300 w-[120%]"
	>
		<path
			fill-opacity="1"
			d="M0,96L34.3,96C68.6,96,137,96,206,112C274.3,128,343,160,411,165.3C480,171,549,149,617,160C685.7,171,754,213,823,202.7C891.4,192,960,128,1029,117.3C1097.1,107,1166,149,1234,160C1302.9,171,1371,149,1406,138.7L1440,128L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
		></path>
	</svg>
</div>

<div
	class="relative flex flex-col items-center justify-center py-30 max-w-screen overflow-hidden"
>
	<h1
		class="text-6xl md:text-6xl lg:text-8xl fade px-10 py-4 flex font-[bangers] text-contrast-dark dark:text-contrast hover:scale-105 transition cursor-pointer"
		appViewport
	>
		Skills
	</h1>
	<div
		class="absolute bg-contrast dark:bg-contrast-dark -rotate-3 h-30 md:h-40 w-[150%] -z-1"
	></div>
</div>

<div
	class="relative text-contrast dark:text-contrast-dark pb-5 min-h-screen overflow-hidden"
>
	<div
		class="absolute inset-0 h-full w-full bg-primary dark:bg-primary-dark bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px] -z-5"
	></div>
	<div
		class="absolute h-full w-full bg-radial to-primary dark:to-primary-dark -z-4"
	></div>
	<div
		class="relative col-centered w-10/12 md:w-8/12 lg:w-6/12 m-auto z-5 mt-15 sm:mt-20 md:mt-30 lg:mt-0"
	>
		<!-- Front-End -->
		<div
			class="fade bg-contrast dark:bg-contrast-dark dark:text-contrast text-contrast-dark p-2"
			appViewport
		>
			<h1 class="text-3xl font-bold">Front-End</h1>
		</div>
		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-4"
			id="front-end"
		>
			<div
				*ngFor="let skill of frontEndSkills"
				class="bg-primary dark:bg-primary-dark transform transition duration-300 border-2 border-contrast dark:border-contrast-dark hover:scale-105 hover:border-2 hover:border-accent dark:hover:border-accent-dark hover:cursor-pointer flex flex-col text-center items-center slide-up relative p-4"
				appViewport
			>
				<img
					[src]="skill.logo"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1 not-dark:invert"
				/>
				<h2 class="text-xl font-bold">{{ skill.name }}</h2>
				<p class="text-neutral-500">{{ skill.description }}</p>
			</div>
		</div>

		<!-- Back-End -->
		<div
			class="fade bg-contrast dark:bg-contrast-dark dark:text-contrast text-contrast-dark p-2 mt-4"
			appViewport
		>
			<h1 class="text-3xl font-bold">Back-End</h1>
		</div>

		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-4"
			appViewport
		>
			<div
				*ngFor="let skill of backEndSkills"
				class="bg-primary dark:bg-primary-dark p-4 transform transition duration-300 border-2 border-contrast dark:border-contrast-dark hover:scale-105 hover:border-2 hover:border-accent dark:hover:border-accent-dark hover:cursor-pointer flex flex-col text-center items-center slide-up"
				appViewport
			>
				<img
					[src]="skill.logo"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1 not-dark:invert"
				/>
				<h2 class="text-xl font-bold">{{ skill.name }}</h2>
				<p class="text-neutral-500">{{ skill.description }}</p>
			</div>
		</div>

		<!-- Tools -->
		<div
			class="fade bg-contrast dark:bg-contrast-dark dark:text-contrast text-contrast-dark p-2 mt-4"
			appViewport
		>
			<h1 class="text-3xl font-bold">Tools</h1>
		</div>

		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-4"
			appViewport
		>
			<div
				*ngFor="let tool of tools"
				class="bg-primary dark:bg-primary-dark p-4 transform transition duration-300 border-2 border-contrast dark:border-contrast-dark hover:scale-105 hover:border-2 hover:border-accent dark:hover:border-accent-dark hover:cursor-pointer flex flex-col text-center items-center slide-up"
				appViewport
			>
				<img
					[src]="tool.logo"
					class="w-2/12 md:w-3/12 lg:w-5/12 mb-1 not-dark:invert"
				/>
				<h2 class="text-xl font-bold">{{ tool.name }}</h2>
				<p class="text-neutral-500">{{ tool.description }}</p>
			</div>
		</div>
	</div>
</div>
