@import "tailwindcss";

@theme {
	--color-primary: #f3f4f6;
	--color-secondary: #e5e7eb;
	--color-accent: #a855f7;
	--color-contrast: #000;

	--color-primary-dark: #030712;
	--color-secondary-dark: #111827;
	--color-accent-dark: #a855f7;
	--color-contrast-dark: #fff;
}

.no-view.fade {
	opacity: 0;
	transition: all 0.3s;
}
.in-view.fade {
	opacity: 1;
	transition: all 0.3s;
}
.no-view.slide-left {
	opacity: 0;
	transform: translateX(100%);
	transition: all 0.3s ease-in-out;
}
.in-view.slide-left {
	opacity: 1;
	transform: translateX(0);
	transition: all 0.3s ease-in-out;
}
.no-view.slide-right {
	opacity: 0;
	transform: translateX(-100%);
	transition: all 0.3s ease-in-out;
}
.in-view.slide-right {
	opacity: 1;
	transform: translateX(0);
	transition: all 0.3s ease-in-out;
}
.no-view.slide-down {
	opacity: 0;
	transform: translateY(-5vh);
	transition: all 0.3s ease-in-out;
}
.in-view.slide-down {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.3s ease-in-out;
}
.no-view.slide-up {
	opacity: 0;
	transform: translateY(5vh);
}
.in-view.slide-up {
	opacity: 1;
	transform: translateY(0);
}
