@import "tailwindcss";

@theme {
	--color-primary: #fff;
	--color-secondary: #f5f5f4;
	--color-accent: #15803d;
	--color-contrast: #0c0a09;

	--color-primary-dark: #0c0a09;
	--color-secondary-dark: #171412;
	--color-accent-dark: #4ade80;
	--color-contrast-dark: #fff;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.no-view.fade {
	opacity: 0;
	transition: all 0.3s;
}
.in-view.fade {
	opacity: 1;
	transition: all 0.3s;
}
.no-view.slide-left {
	opacity: 0;
	transform: translateX(100%);
	transition: all 0.3s ease-in-out;
}
.in-view.slide-left {
	opacity: 1;
	transform: translateX(0);
	transition: all 0.3s ease-in-out;
}
.no-view.slide-right {
	opacity: 0;
	transform: translateX(-100%);
	transition: all 0.3s ease-in-out;
}
.in-view.slide-right {
	opacity: 1;
	transform: translateX(0);
	transition: all 0.3s ease-in-out;
}
.no-view.slide-down {
	opacity: 0;
	transform: translateY(-5vh);
	transition: all 0.3s ease-in-out;
}
.in-view.slide-down {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.3s ease-in-out;
}
.no-view.slide-up {
	opacity: 0;
	transform: translateY(5vh);
}
.in-view.slide-up {
	opacity: 1;
	transform: translateY(0);
}
